body {
    font-size: 20px;
    font-family: monospace;
    display: flex;
    justify-content: flex-start;

}
table {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
tbody {
    width: 800px;
    align-items: stretch;
    border: 1px solid black;

}
tr {
    flex-basis: 33.33333333%;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 5px 10px;
}
tr + tr {
    border-left: 1px solid black;
}

th, td {
    flex-basis: 100%;
    text-align: left;
    display: flex;
    padding: 2px;

}
th {
    font-weight: bold;
}